@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');



* {
    font-family: 'Inter', 'sans-serif';
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(40,40,40);
    font-weight: 300;
    color: white;
}
a {
    color: white;
    text-decoration-color: gray;
}
a:hover {
    opacity: 0.8;
}
.sec-text, .sec-text a{ 
    color: #838383;
}
.btn {
    transition: opacity .15s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    opacity: 0.8;
}



#load-overlay {
    background: rgb(40,40,40);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    align-items: center;
    color: white;
    transition: all .3s ease-in-out;   
    z-index: 10000;
}
#load-overlay .load-btn {
    padding: 13px 20px;
    border-radius: 5px;
    text-align: center;
    opacity: 0.5;
    background: #1f1f1f;
    transition: opacity .3s ease-in-out, background .15s linear, box-shadow .15s linear;
}
#load-overlay .load-btn.enabled {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 2px 2px 1px rgb(0 0 0 / 10%);
    font-weight: 400;
    background: black;
}
#load-overlay .load-btn.enabled:hover {
    background: #191919;
}
#load-overlay.done {
    opacity: 0;
    height: 0;
    pointer-events: none;
} 

.overlay-body {
    width: 90%;
    max-width: 700px;
    font-size: 20px;
    font-weight: 300;
}
.overlay-header {
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: 500;
}
#load-overlay .desc {
    margin-bottom: 30px;
    color: #e4e4e4;
}

header {
    background: rgb(10,10,10);
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    height: 50px;
    box-shadow: 0px 2px 3px 3px rgb(37 37 37 / 24%);
    padding: 0 50px; 
    justify-content: space-between;
    z-index: 100;
    position: relative;
}
.header-large {
    font-size: 18px;
    font-weight: 400;
    color: #e4e4e4;
    cursor: pointer;
    transition: opacity .15s linear;
    display: flex;
}
.header-large span {
    margin-right: 10px;
}

.header-large:hover {
    opacity: 0.8;
}
.header-right {
    width: 200px;
    display: flex;
    justify-content: flex-end;
}
.header-btn {
    background: #4e4e4e;
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}
.material-icons {
    font-size: 20px;
}
.header-info {
    background: #000000;
    width: 100%;
    position: absolute;
    box-shadow: 0 1px 3px 2px rgb(0 0 0 / 39%);
    border-bottom: 1px solid black;
    transition: top .3s ease-in-out;
    z-index: 10000;
    pointer-events: none;
    height: auto;
    position: absolute;
    top: -150px;
    z-index: 2;
} 
.header-info.show {
    top: 50px;
}
.header-info-text {
    padding: 20px 50px;
}
.header-info-footer {
    height: 30px;
    width: 100%;
    background: #4e4e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-info-footer:hover {
    background: #454545;
}

canvas {
    margin-top: 20px;
    margin-left: 50px;
    transition: opacity .3s linear;
    position: relative;
    z-index: 0;
}


#poster-tooltip {
    position: absolute;
    background: black;
    color: white;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    box-shadow: 0px 1px 2px 2px rgb(0 0 0 / 10%);
    transition: opacity .3s ease-in-out;
    opacity: 1;
    max-width: 20%;
    z-index: 10000;
}
#poster-tooltip.hidden {
    opacity: 0;
    pointer-events: none;
}

.tip-body {
    padding: 20px 30px;
}
.btn-row {
    width: 100%;
    height: 40px;
    background: #424242;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-row .btn {
    height: 100%;
    width: 100%;
}


.btn:hover {
    background: #353535;
}
.btn-row.two-col .btn {
    flex-basis: 50%;
}
.btn-row.two-col .btn:nth-child(1){
    border-right: 1px solid black;
}


#poster-tooltip .poster-title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
#poster-tooltip .poster-title .date {
    color: rgb(166,166,166);
    margin-left: 10px;
}

#poster-tooltip .col.metadata {
    min-width: 150px;
}

#poster-tooltip .metadata-val {
    margin-bottom: 10px;
}

#poster-tooltip .metadata-val span {
    background: #353535;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: normal;
    margin-right: 5px;
    margin-bottom: 5px;
}



#poster-tooltip .metadata-val .label {
    font-size: 14px;
    color: rgba(214,214,214);
    margin-bottom: 5px;
}

#poster-tooltip .metadata-val .value {
    font-size: 14px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    max-width: 100%;
    word-break: break-all;
}


/* 
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

/* 
.img-padding {
    position: absolute;
    background: rgba(40,40,40);
    opacity: .97;
    pointer-events: none;
    transition: width .1s ease-in-out, height .1s ease-in-out;
    z-index: 5;
}
.img-padding.right {
    right: 0;
    width: 0;    
    height: 100%;
    top: 60px;     
}
.img-padding.left {
    left: 0;
    width: 0;    
    height: 100%;
    top: 60px;     
}
.img-padding.top{
    width: 100%;  
    height: 0;
    top: 60px;     
}
.img-padding.bottom{
    width: 100%;   
    height: 0; 
    bottom: 0;
} */


